body {
  font-family: "Google Sans", arial, sans-serif;
}

.weather-wrapper {
  max-width: 650px;
  margin: 30px auto;
}

.weather-search-box {
  padding: 20px;
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.current-weather-forecast {
  height: 60px;
}

.current-weather-forecast strong {
  color: #202124;
  font-size: 48px;
  line-height: 56px;
  font-weight: normal;
}

.units {
  margin-top: 6px;
  padding-left: 6px;
}

.weather-details {
  padding-left: 10px;
}

.weather-details li {
  list-style: none;
  color: #70757a;
  font-size: 12px;
  line-height: 16px;
}

h1 {
  display: flex;
  justify-content: flex-end;
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
}

.weather-now li {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.condition {
  text-transform: capitalize;
}

.active {
  color: #202124;
  cursor: default;
}

.active:hover {
  text-decoration: none;
  color: #202124;
}

.weather-forecast {
  padding-top: 7px;
  text-align: center;
  color: #202124;
  font-size: 16px;
}

.forecast-temperatures {
  font-size: 13px;
}

.forecast-temperature-min {
  color: #70757a;
}
